body {
    /*background-color: red !important;*/
}

/*--------------------------------------------------------------------------------*/
#content-heading {
    text-transform: capitalize;
}

#content-nav .navigation li {
    font-size: 1.15em;
}

/*--------------------------------------------------------------------------------*/

.records-section {
    padding: 1em;
}

.records-section:nth-child(odd) {
    background-color: #ffffff;
}

.records-section:nth-child(even) {
    background-color: #f2f2f2;
}

.records-section .button {
    margin-bottom: 0;
}

/*--------------------------------------------------------------------------------*/