:root {
    --button-padding: 1.75em;
    --banner-height: 300px;
}

section.container-fluid {
    min-height: 100vh !important;
    height: 100% !important;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.25em 0;
    font-size: 3em !important;
}

.row.button-row {
    /*margin: 1em 0;*/
    margin-bottom: 1.75em;
}

.button, .banner {
    background-color: #2e2e2e;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: var(--button-padding) 0;
}

.banner {
    min-height: var(--banner-height);
    margin-bottom: 1em;
    height: calc(100% - var(--button-padding));
}

.banner a, .button a {
    width: 100%;
    height: 100%;
    color: inherit;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
}

.banner a:hover, .button a:hover {
    text-decoration: none;
    color: inherit;
}