.carousel-item img,
img.card-img-top,
img.city-banner {
    object-fit: cover;
    width: 100%;

    background-color: #2e2e2e;
    background-image: url("../images/placeholder-200x200.svg");
    background-position: 50% 50%, 0 0;
    background-repeat: no-repeat;
}

img.card-img-top {
    height: 150px;
}


div.card-details {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: rgba(46, 46, 46, 0.75);
    color: white;

    transition: visibility 0s, opacity 0.1s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
}